@import url('https://clearvision.github.io/ClearVision-v6/main.css');


:root {
  --main-color: #8764B8;
  --hover-color: #6B4E95;
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: var(--main-color);
  --background-image: url('https://i.imgur.com/XSOBwhH.jpg');
  --background-shading: 25%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 3px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://i.imgur.com/Vba2eQh.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 2px;
  --user-modal-image: url('https://i.imgur.com/gGlA6Od.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 2px;
  --home-icon: url('https://i.imgur.com/mg6Y8LT.jpg');
  --home-position: center;
  --home-size: 47px;
  --channel-unread: var(--main-color);
  --channel-color: rgba(255,255,255,0.3);
  --muted-color: rgba(255,255,255,0.1);
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #F94147;
  --streaming-color: #593695;
  --offline-color: #808080;
  --main-font: gg sans;
  --code-font: Consolas;
  --channels-width: 240px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  .typeWindows-2-g3UY > .wordmark-2u86JB:before,
.typeWindows-2-g3UY > .wordmark-2u86JB:after {
  content: initial;
}
.container-YkUktl {
  margin-bottom: 0px; 
}
.container-YkUktl:before,
.container-YkUktl:after,
.container-YkUktl:hover:before,
.container-YkUktl:hover:after {
 content: initial;
}
.typeMacOS-3V4xXE:before,
.typeMacOS-3V4xXE:after {
  content: initial;
}

/* Any custom CSS below here */
@import url('https://gistcdn.githack.com/overestimate/4fd451b2e02101da21d26fc5ca0289cf/raw/e2d04eaa150ea972a6fbf7aa9e7eff8fb2bb4dd4/remove.css');
.typeWindows-2-g3UY > .wordmark-2u86JB:before,
.typeWindows-2-g3UY > .wordmark-2u86JB:after {
  content: initial;
}
.container-YkUktl {
  margin-bottom: 0px; 
}
.container-YkUktl:before,
.container-YkUktl:after,
.container-YkUktl:hover:before,
.container-YkUktl:hover:after {
 content: initial;
}
.typeMacOS-3V4xXE:before,
.typeMacOS-3V4xXE:after {
  content: initial;
}

